* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #151515;
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow-x: hidden;
}

img {
  width: 100%;
}

h1 {
  font-size: 1rem;
  font-weight: 700;
}

h2 {
  font-size: 0.65rem;
  font-weight: 500;
}

h3 {
  font-size: 0.35rem;
  font-weight: 400;
}

p {
  font-size: 0.5rem;
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: background-color 5000000s ease-in-out 0s !important;
  transition: background-color 5000000s ease-in-out 0s !important;
  background-color: #000000;
  -webkit-text-fill-color: #cfcfcf !important;
}

.wrapper {
  padding: 1.5em 1.5em;
  padding-bottom: 0;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  height: 30em;
}

header .nav-bg {
  height: 6em;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0));
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 4em;
}

header nav img {
  max-width: 80px;
}

header nav .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 130px;
}

header nav .search-bar #search-input {
  background-color: transparent;
  outline: none;
  border: none;
  padding-bottom: .3em;
  color: #CFCFCF;
  font-size: .5rem;
  min-width: 100px;
  margin: 0 .5em 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: relative;
}

header nav .search-bar #search-input::-webkit-input-placeholder {
  color: #898989;
  font-size: .5rem;
}

header nav .search-bar #search-input:-ms-input-placeholder {
  color: #898989;
  font-size: .5rem;
}

header nav .search-bar #search-input::-ms-input-placeholder {
  color: #898989;
  font-size: .5rem;
}

header nav .search-bar #search-input::placeholder {
  color: #898989;
  font-size: .5rem;
}

header nav .search-bar img {
  padding-bottom: .3em;
}

header nav .search-bar::after {
  content: "";
  height: 1px;
  width: 100%;
  min-width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #898989;
}

header nav .help-button {
  width: 60px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav .help-button:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

header .hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

header .hero-image img {
  position: absolute;
  top: 0;
  z-index: -2;
  height: 25em;
}

header .hero-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15em;
  margin-top: 5em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, #000000), color-stop(40%, #000000), color-stop(100%, #151515), to(#151515));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 50%, #000000 40%, #151515 100%, #151515 100%);
}

header .hero-text h2 {
  margin-top: .4em;
  color: #CFCFCF;
}

.movie-display {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -8em;
}

.movie-display .movie-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 1rem;
  padding-bottom: 2em;
}

.movie-display .movie-list .movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  position: relative;
}

.movie-display .movie-list .movies .movie-poster {
  max-width: 200px;
  height: 280px;
  border-radius: .4rem;
  cursor: pointer;
  margin-bottom: .6em;
}

.movie-display .movie-list .movies .movie-name {
  text-align: center;
  color: #CFCFCF;
  margin-bottom: 2em;
}

.movie-display .movie-list .movies .overlay-button {
  position: absolute;
  top: 13.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  cursor: pointer;
}

.movie-display .movie-list .movies .overlay-button:hover {
  opacity: 0.9;
  -webkit-transform: translateX(-50%) scale(1.03);
          transform: translateX(-50%) scale(1.03);
}

.movie-display .movie-list .movies:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.movie-display .movie-list .movies:hover .overlay-button {
  opacity: 1;
}

.nomination-banner {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  text-align: center;
  background: rgba(109, 109, 109, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 2em 0;
  height: 140px;
}

.nomination-banner .watermark {
  color: #595959;
  margin-top: 1em;
}

.nomination-banner .nominations {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5em;
  max-width: 350px;
  max-height: 10px;
  margin: auto;
}

.nomination-banner .nominations .nominated {
  margin-right: 1em;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5em;
  position: relative;
  max-height: 10px;
}

.nomination-banner .nominations .nominated .nominated-bubble {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3em;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  position: relative;
}

.nomination-banner .nominations .nominated .nominated-name-hover {
  display: none;
  position: absolute;
  top: 2.2em;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.nomination-banner .nominations .nominated:hover {
  cursor: pointer;
}

.nomination-banner .nominations .nominated:hover .nominated-bubble {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  margin-bottom: 0em;
  top: -1.9em;
}

.nomination-banner .nominations .nominated:hover .nominated-name-hover {
  display: inline;
}

.nomination-banner .nominations .nominated:last-child {
  margin-right: 0;
}

@media screen and (min-width: 600px) {
  header nav img {
    max-width: 150px;
  }
  header nav .search-bar {
    max-width: 200px;
  }
  header nav .search-bar #search-input {
    font-size: .75rem;
    min-width: 170px;
    margin: 0 0 0 1em;
  }
  header nav .search-bar #search-input::-webkit-input-placeholder {
    font-size: .75rem;
  }
  header nav .search-bar #search-input:-ms-input-placeholder {
    font-size: .75rem;
  }
  header nav .search-bar #search-input::-ms-input-placeholder {
    font-size: .75rem;
  }
  header nav .search-bar #search-input::placeholder {
    font-size: .75rem;
  }
  header nav .search-bar::after {
    min-width: 20px;
  }
  header nav .help-button {
    width: 85px;
  }
}

@media screen and (min-width: 860px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.75rem;
  }
  .wrapper {
    padding: 2em 4em;
  }
  header .hero-text {
    margin-top: 15em;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(30%, #000000), color-stop(70%, #000000), color-stop(100%, #151515), to(#151515));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 30%, #000000 70%, #151515 100%, #151515 100%);
  }
  header .hero-image img {
    height: auto;
  }
  .movie-display {
    top: 5em;
  }
  .movie-display .movie-list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 10em;
  }
  .nomination-banner {
    height: 200px;
  }
  .nomination-banner .nominations {
    max-width: 750px;
    padding-top: 1.8em;
  }
  .nomination-banner .nominations .nominated .nominated-bubble {
    height: 80px;
    width: 80px;
  }
  .nomination-banner .nominations .nominated .nominated-name-hover {
    top: 3em;
  }
  .nomination-banner .nominations .nominated:hover .nominated-bubble {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    top: -2.5em;
  }
}

@media screen and (min-width: 1000px) {
  header nav .search-bar {
    max-width: 250px;
    margin-right: 2em;
  }
  header nav .search-bar #search-input {
    font-size: 1rem;
    min-width: 250px;
  }
  header nav .search-bar #search-input::-webkit-input-placeholder {
    font-size: 1rem;
  }
  header nav .search-bar #search-input:-ms-input-placeholder {
    font-size: 1rem;
  }
  header nav .search-bar #search-input::-ms-input-placeholder {
    font-size: 1rem;
  }
  header nav .search-bar #search-input::placeholder {
    font-size: 1rem;
  }
  header nav .search-bar::after {
    min-width: 300px;
  }
  header nav .help-button {
    width: 95px;
  }
  header .hero-text {
    height: 25em;
  }
  header .hero-text h1 {
    margin-top: -3em;
  }
  .movie-display .movie-list {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  header nav img {
    max-width: 180px;
  }
  header nav .search-bar {
    max-width: 300px;
  }
  header nav .search-bar #search-input {
    min-width: 330px;
  }
  header nav .search-bar::after {
    min-width: 380px;
  }
  header nav .help-button {
    width: 100px;
  }
  header .hero-image img {
    top: -4em;
  }
  header .bg {
    height: 300px;
    width: 100%;
    background-color: #151515;
    position: relative;
    top: 0;
    z-index: -1;
  }
  .movie-display .movie-list {
    grid-gap: 2.5em;
  }
  .movie-display .movie-list .movies .movie-poster {
    max-width: 260px;
    height: 365px;
  }
  .movie-display .movie-list .movies .overlay-button {
    width: 200px;
    top: 18em;
  }
}
/*# sourceMappingURL=App.css.map */